@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

// MEDIA QUERY

@mixin resp-phone {
    @media (max-width: 600px) {
        @content;
    }
}

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) { //600
            @content;
        }
    }

    @if $breakpoint == tab-port { // 900
        @media (max-width: 56.25em) {
            @content;
        }
    }

    @if $breakpoint == tab-land { // 1200
        @media (max-width: 75em) {
            @content;
        }
    }

    @if $breakpoint == big-desktop {
        @media (min-width: 112.5em) {
            @content;
        }
    }
}